---
  :name:             'voice00'
  :source:           '192.168.178.33'
  :destination:      '91.250.81.254'
  :from_user:        '999'
  :password:         '0000'
  :to_user:          '00'
  :number_of_calls:   50
  :calls_per_second:  1
  :max_concurrent:    10
